body {
background-color: #ffffff;
margin: 0;
display: flex;
justify-content: center;
}
.page-wrapper {
width: 1026px;
display: flex;
flex-direction: column;
align-items: center;
}
//
.section-1 img {
width: 1026px;
height: 711px;
display: block;
}
/تزويد متابعين/* )/
.section-flex {
width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
/تزويد متابع */ ;gap: 20px
margin-top: 20px;
}
//
.img-2 {
width: 540px;
height: 335px;
}
//
.img-3 {
width: 362px;
height: 335px;
}
//
.section-4 {
margin-top: 40px;
}
.section-4 img {
width: 497px;
height: 132px;
}
//
.img-5, .img-6 {
width: 380px;
height: 385px;
}
